.section-title_place_cover {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 16px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section-title_place_cover {
    max-width: 560px;
    padding-top: 115px;
    padding-bottom: 32px;
    font-size: 72px;
    line-height: 1.06;
  }
}

@media screen and (min-width: 1024px) {
  .section-title_place_cover {
    padding-top: 195px;
  }
}

@media screen and (min-width: 1280px) {
  .section-title_place_cover {
    padding-top: 245px;
  }
}