.places__text {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 16px 0;
  row-gap: 25px;
}

@media screen and (min-width: 768px) {
  .places__text {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .places__text {
    row-gap: 27px;
  }
}