.section-text {
  font-family: 'Inter',  Arial, sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  padding-top: 40px;
  padding-bottom: 34px;
}

@media screen and (min-width: 768px) {
  .section-text {
    padding-bottom: 33px;
  }
}