.cover__title {
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  color: #fff;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  max-width: 250px;
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.06;
  }
}