.section-subtitle {
  color: #fff;
  font-family: 'Inter',  Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 0 auto;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .section-subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
  }
}