.cover {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 62.5vw;
  max-width: 1184px;
  margin: 0 auto;
  
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}